
@{
    ViewData["Title"] = "Planos";
}

<h2>@ViewData["Title"]</h2>
<br />
<h4>Disponiveis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <table class="table table-condensed">
            <thead>
                <tr class="success">
                    <th>FaleMais</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>30 Minutos</td>
                </tr>
                <tr>
                    <td>60 Minutos</td>
                </tr>
                <tr>
                    <td>120 Minutos</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a asp-action="Simulation" class="btn btn-default">Faça uma Simulação</a>

