@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<br />


<address>
    São Paulo - SP<br />
    Redmond, WA 98052-6399<br />
    Telefone: (11) 5.5522.1264
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@telzir.com.br">Support@telzir.com.br</a><br />
    <strong>Dúvidas:</strong> <a href="mailto:Duvidas@telzir.com.br">Duvidas@telzir.com.br</a>
</address>
